{% load static %}
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script> 
<script src="{% static 'js/dropdown.js' %}"></script>
<script src="{% static 'js/slaid.js' %}"></script>
<script src="{% static 'js/option.js' %}"></script>
<script src="{% static 'js/jquery.timeago.min.js' %}"></script>
<script src="{% static 'js/prism.js' %}"></script>
<script src="{% static 'js/lunr.min.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/live.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>

<!--comentario-->
<script id="dsq-count-scr" src="//tribo-de-zion.disqus.com/count.js" async></script>
<!--Fim Scripts-->

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src=" {% static 'js/js/jquery.com/jquery-2.1.1.min.js' %}"></script>
<script src=" {% static 'js/js/materialize.js' %}"></script>
<script src=" {% static 'js/js/init.js' %}"></script>
<script src=" {% static 'js/js/init1.js' %}"></script>
<script src=" {% static 'js/js/live.js' %}"></script>
<script src=" {% static 'js/js/jQuery.js' %}"></script>
<script src=" {% static 'js/js/jquery-2.1.1.min.js' %}"></script>
<script src=" {% static 'js/js/menu.js' %}"></script>

<!--js page admin-->
<script src="{% static 'js/page_admin/vendors.min.js' %}"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<!-- END PAGE VENDOR JS-->
<!-- BEGIN THEME  JS-->
<script src="{% static 'js/page_admin/plugins.min.js' %}" ></script>
<script src="{% static 'js/page_admin/search.min.js ' %}"></script>
<script src="{% static 'js/page_admin/custom-script.min.js' %}"></script>
<script src="{% static 'js/page_admin/customizer.min.js' %}"></script>
<script src="{% static 'js/page_admin/js.masks.js' %}"></script>
<script src="{% static 'js/page_admin/js_jquery.mask.min.js' %}"></script>
<!-- END THEME  JS-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
     $('.collapsible').collapsible({
         accordion: false, // A setting that changes the collapsible behavior to expandable instead of the default accordion style
         onOpen: function(el) { alert('Open'); }, // Callback for Collapsible open
         onClose: function(el) { alert('Closed'); } // Callback for Collapsible close
     });

</script>
<script>
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
 </script>
       