<!-- Exteção do arquivo de base html-->
{% extends 'base/base.html' %}

<!--Chamando arquivos static-->
{% load static %}


<!-- Titulo da Pagina-->
{% block title %}:...Projeto-Tribo Zion...:{% endblock %}


</style>
<!-- Menu da Pagina-->
{% block navebar %}

  {% include 'include/nave_reuniao.html' %}

{% endblock %}


<!-- Titulo do conteudo-->

{% block titulo_page %}

<div class="section no-pad-bot" id="index-banner">
  <div class="container">    
    
    <h3 class="header orange-text">Atas das reuniões</h3>
    
    <hr style="border-color:hotpink ; border-width: 1,5px; ">     
    
  </div>
</div>

{% endblock %}

<!-- Fim Titulo page-->


<!--Conteudo da Pagina-->
{% block conteudo %}


  <ul class="collapsible" data-collapsible="accordion">
    {% for ata in atas %}
      <li>        
        <div class="collapsible-header">         
          <i class="material-icons">library_books</i>{{ ata.data_criacao}}&emsp;&emsp;&emsp;<i class="material-icons">recent_actors
          </i>Autor: {{ ata.autor}}
          

          </div>
        <div class="collapsible-body">
          <span>
            {{ata.texto | safe}}
          </span>
        </div>
      </li>
    {% endfor %}
  </ul>
 
  <br><br>
        

<!--fim do conteudo-->

    <blockquote>
      <h6>A Pesquisa e o melhor conteudo para desenvolver um bom projeto.</h6><br>
      </blockquote>
    </div><!--section-->
    <br><br>
   

{% endblock %}
<!--fim-->