{% load static %}
<!-- Modal Structure -->
<div id="modal1-1" class="modal">
    <div class="modal-content">
      <h4>Titulo</h4>
      <p>Digite o texto</p>
    </div>
    <div class="modal-footer">
       
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="large material-icons">cancel</i>       
      </a>
    </div>
  </div>

  <div id="modal1-2" class="modal">
    <div class="modal-content">
      <h4>Modal Header2</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fecha</a>
    </div>
  </div>

  <div id="modal1-3" class="modal">
    <div class="modal-content">
      <h4>Modal Header3</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>