<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/diretoria/"><i class="material-icons">account_box</i>DIRETORIA</a></li> 
  <li class="divider"></li>
  <li><a href="/login/" target="_blanck"><i class="material-icons">people</i>USUARIO</a></li>
  <li class="divider"></li>  
</ul>
<ul id="dropdown2" class="dropdown-content">
  <li><a href="/diretoria/"><i class="material-icons">account_box</i>DIRETORIA</a></li> 
  <li class="divider"></li>
  <li><a href="/login/" target="_blanck"><i class="material-icons">people</i>USUARIO</a></li>
  <li class="divider"></li>  
</ul>
  <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Tribo de Zion</a>
        <ul class="right hide-on-med-and-down">
          <li title="Home"><a href="/"><i class="material-icons">home</i></a></li>        
          <li><a href="/fotos/">FOTOS</a></li>
          <li><a href="/eventos/">EVENTOS</a></li>
          <li><a href="/quemsomos/">QUEM SOMOS</a></li>
          <li><a href="/parceiros/">PARCEIROS</a></li>
          <li  class="active"><a href="/contato/cadastro/" title="Contatos">CONTATOS</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">FERRAMENTAS<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
  
        <ul id="nav-mobile" class="sidenav">
        <li><a href="#">TRIBO ZION</a></li>
        <li title="Home"><a href="/"><i class="material-icons">home</i></a></li>        
        <li><a href="/fotos/">FOTOS</a></li>
        <li><a href="/eventos/">EVENTOS</a></li>
        <li><a href="/quemsomos/">QUEM SOMOS</a></li>
        <li><a href="/parceiros/">PARCEIROS</a></li>
        <li><a href="/contato/cadastro/" title="Contatos">CONTATOS</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">FERRAMENTAS<i class="material-icons right">arrow_drop_down</i></a></li>

      </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
  </nav>
  
  