<!-- nave bar -->
  <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Tribo de Zion</a>
        <ul class="right hide-on-med-and-down">
          <li title="Home"><a href="/"><i class="material-icons">HOME</i></a></li>         
          <li><a href="#!">FOTOS</a></li>
          <li><a href="/eventos/">EVENTOS</a></li>
          <li><a href="/quemsomos/">QUEM SOMOS</a></li>
          <li><a href="#!">PARCEIROS</a></li>
          <li><a href="/contato/cadastro/" title="Contatos">CONTATO</a></li>
          <!-- Dropdown Trigger -->          
        </ul>      
      </div>
  </nav>