<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">    
    <li><a href="/logout/"><i class="material-icons">highlight_off</i>SAIR</a></li>
    <li class="divider"></li>
    <li><a href="/admin/" target="_bank"><i class="material-icons">settings</i>ADMIN</a></li>
  </ul>
  <nav class="indigo" role="navigation" id="topo">
      <div class="nav-wrapper container"><a class="brand-logo">Tribo de Zion</a>
        <ul class="right hide-on-med-and-down">
          <li ><a href="/ata/cadastro/" class="waves-effect blue waves-light btn-small" title="CADASTRAR NOVAS ATAS">+ ATAS</a></li>
          <li><a href="/atleta/cadastro/" class="waves-effect blue waves-light btn-small" title="CADASTRAR NOVOS ATLETAS">+ ATLETAS</a></li>
          <li><a href="/fotos/cadastro/" class="waves-effect blue waves-light btn-small" title="CADASTRAR NOVAS FOTOS">+ FOTOS</a></li>
          <li><a href="/eventos/cadastro/" class="waves-effect blue waves-light btn-small" title="CADASTRAR NOVOS EVENTOS">+ EVENTOS</a></li>          
          <li><a href="#!" class="waves-effect blue waves-light btn-small" title="CADASTRAR NOVOS PARCEIROS">+ PARCEIROS</a></li>          
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">FERRAMENTAS<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
  </nav>