<div class="col s12 m8 l9">

      <div class="row">
        <!--Painel azul-->
        <div class="col s4 m3">
          <a href="#">
          <div class="card-panel blue accent-4">
            <center><i class="medium material-icons">import_contacts</i></center>
            <center> <span class="white-text">ATA DE REUNIÃO</span></center>
          </div>
        </a>
        </div>
        <div class="col s4 m3">
          <div class="card-panel  blue accent-4">
            <a href="#" >
              <center><i class="medium material-icons">photo_camera</i></center>
            <center> <span class="white-text">GALERIA DE FOTOS</span></center>
            </a>
          </div>
        </div>
        <div class="col s4 m3">
          <div class="card-panel  blue accent-4">
            <a href="#">
              <center><i class="medium material-icons">local_bar</i></center>
              <center> <span class="white-text">EVENTOS</span></center>
            </a>
          </div>
        </div>
        <div class="col s4 m3">
          <div class="card-panel  blue accent-4">
            <a href="#">
              <center><i class="medium material-icons">directions_walk</i></center>
              <center> <span class="white-text">PARCEIROS</span></center>
            </a>
          </div>
        </div>

        <!--Painel laranja-->
        <div class="col s4 m3">
          <div class="card-panel orange accent-4">
            <a href="#">
              <center><i class="medium material-icons">directions_run</i></center>
              <center> <span class="white-text">ATLETAS</span></center>
            </a>
          </div>
        </div>
        <div class="col s4 m3">
          <div class="card-panel  orange accent-4">
            <a href="#">
              <center><i class="medium material-icons">people</i></center>
              <center> <span class="white-text">USUÁRIOS</span>
              </center></a>
          </div>
        </div>
        <div class="col s4 m3">
          <div class="card-panel  orange accent-4">
            <a href="#">
              <center><i class="medium material-icons">person</i></center>
              <center> <span class="white-text">ADMIN</span></center>
            </a>
          </div>
        </div>
        <div class="col s4 m3">
          <div class="card-panel  orange accent-4">
            <a href="#">
              <center><i class="medium material-icons">highlight_off</i></center>
              <center> <span class="white-text">PASTROCINADORES</span></center>
            </a>
          </div>
        </div>

        <!--Painel verde-->
        <div class="col s4 m3">
          <div class="card-panel green accent-4">
            <a href="#"><center>
              <center><i class="medium material-icons">highlight_off</i></center>
              <span class="white-text">ATA DE REUNIÃO</span></center>
            </a>
          </div>
        </div>
        <div class="col s4 m3">
          <div class="card-panel  green accent-4">
            <a href="#"><center>
              <center><i class="medium material-icons">highlight_off</i></center>
              <span class="white-text">ATA DE REUNIÃO</span></center>
            </a>
          </div>
        </div>
        <div class="col s4 m3">
          <div class="card-panel  green accent-4">
            <a href="#">
              <center><i class="medium material-icons">highlight_off</i></center>
              <center> <span class="white-text">ATA DE REUNIÃO</span>
              </center></a>
          </div>
        </div>
        <div class="col s4 m3">
          <div class="card-panel  green accent-4">
            <a href="#">
              <center><i class="medium material-icons">highlight_off</i></center>
              <center> <span class="white-text">ATA DE REUNIÃO</span>
              </center></a>
          </div>
        </div>
