<!-- Exteção do arquivo de base html-->
{% extends 'base/base_admin.html' %}

<!--Chamando arquivos static-->
{% load static %}


<!-- Titulo da Pagina-->
{% block title %}lista de atas{% endblock %}
{% block head %}{% include 'base/head_admin.html' %}{% endblock %}


<!-- Menu da Pagina-->
{% block navebar %}

  {% include 'include/nave_admin.html' %}

{% endblock %}


<!-- Titulo do conteudo-->

{% block titulo_page %}

<br><br>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">  

      <a href="/logout/" class="waves-effect red waves-light btn-large">
        <i class="material-icons left">highlight_off</i> Sair
      </a>
      <a class="btn-large disabled">
        <i class="material-icons left">account_circle
        </i> {{ user }}
      </a>
      <a class="btn-large disabled">
        <i class="material-icons left"> person_outline
        </i>
       {{ user.first_name }}
      </a>    
      <h5 class="right-align blue-text">
        <b>{% include 'include/data_hora.html' %}</b>
      </h5>   
      <div class="divider"></div>
  </div>    
</div>

{% endblock %}

<!-- Fim Titulo page-->

<!--Titulo do contene-->

{% block title_contine %}
<a class="btn-large disabled">
  <i class="material-icons left">format_list_bulleted</i> 
  LISTA - ATAS
</a>

<a class="indigo waves-effect waves-light btn-large" href="/administrativo/" title="Painel Administrativo">
  <i class="material-icons left">apps</i>Painel Adminstrativo
</a>
<a data-target="modal" id="new" class="blue waves-effect waves-light btn-large  modal-trigger" href="/ata/cadastro/" title="Adicionado uma nova ATA">
  <i class="material-icons left">library_add</i>Nova Ata
</a>    

{% endblock %}

<!--fim-->

<!--Conteudo da Pagina-->

{% block conteudo %}       
 <br>
   
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Localizar</label>
      </div>
    </div>


    <table id="tableNotes" class="responsive-table bordered centered striped">
     
      <b><thead>
        <tr>
          <th>DATA DE CRIAÇÃO</th>
          <th>AUTOR</th> 
          <th>OPERAÇÃO</th>         
        </tr>
      </thead></b>
      
      <tbody>
        {% for ata in atas %}
        <tr>
          <td><i class="material-icons left">library_books</i>{{ ata.data_criacao }}</td>
          <td><i class="material-icons left">recent_actors</i>{{ ata.autor }}</td>          
          <td>

            <a href="/ata/detalhes/{{ata.id}}" data-target="modal1" class="green modal-trigger btn-small deep-purple darken-1 waves-effect waves-teal" title="DETALHES">
              Detalhes<i class="material-icons right">event_note</i>
            </a> 
            
            <a href="!#" data-target="modal1" class="btnedit modal-trigger btn-small deep-purple darken-1 waves-effect waves-light" title="Editar uma ata">
              Edit<i class="material-icons right">update</i>
            </a>      
            
          </td>
          {% endfor %}
      </tbody>
      
      
    </table>


{% endblock %}
{% block java %}{% include 'base/javaScripts.html' %}{% endblock %}