<!-- Exteção do arquivo de base html-->
{% extends 'base/base_admin.html' %}

<!--Chamando arquivos static-->
{% load static %}


<!-- Titulo da Pagina-->
{% block title %}PAINEL ADMINISTRATIVO{% endblock %}
{% block head %}{% include 'base/head_admin.html' %}{% endblock %}

<!-- Menu da Pagina-->
{% block navebar %}

  {% include 'include/nave_admin.html' %}

{% endblock %}


<!-- Titulo do conteudo-->

{% block titulo_page %}

<br><br>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">  

      <a href="/logout/" class="waves-effect red waves-light btn-large">
        <i class="material-icons left">highlight_off</i> Sair
      </a>
      <a class="btn-large disabled">
        <i class="material-icons left">account_circle
        </i> {{ user }}
      </a>
      <a class="btn-large disabled">
        <i class="material-icons left"> person_outline
        </i>
       {{ user.first_name }}
      </a>    
      <h5 class="right-align blue-text">
        <b>{% include 'include/data_hora.html' %}</b>
      </h5>   
      <div class="divider"></div>
  </div>    
</div>

{% endblock %}

<!-- Fim Titulo page-->

<!--Titulo do contene-->

{% block title_contine %}<p style="color: cornflowerblue;"><b>PAINEL ADMINISTRATIVO</b></p>{% endblock %}

<!--fim-->

<!--Conteudo da Pagina-->

{% block conteudo %}

<!--PRIMARY BLOCK-->
<div class="col s12 m8 ">
  <div class="section" id="faq">
    <div class="faq row">      
    <!--PRIMARY BLOCK-->
        <div class="col s12 m6 l3">
          <a class="black-text" href="/ata/lista/">
            <div class="card z-depth-0 grey lighten-3 faq-card">              
              <div class="card-content center-align">
                <i class="material-icons dp48 blue-text">content_copy</i>
                <span class="new badge" data-badge-caption="Registro">{{ contagen }}</span>               
                <h6><b>ATA DE REUNIÃO</b></h6>
                <p >LISTA E DETALHES</p>
                            
               </div>
             </div>
          </a>
        </div>

        <div class="col s12 m6 l3">
          <a class="black-text" href="/fotos/galeria/">
            <div class="card z-depth-0 grey lighten-3 faq-card">
              <div class="card-content center-align">
                <i class="material-icons dp48 red-text ">photo_camera</i>
                <span class="new badge" data-badge-caption="Registro">{{ fotos_cont }}</span>
                <h6><b>GALERIA DE FOTOS</b></h6>
                <p>LISTA E DETALHES</p>
              </div>
             </div>
          </a>
        </div>

        <div class="col s12 m6 l3">
          <a class="black-text" href="/eventos/lista/">
            <div class="card z-depth-0 grey lighten-3 faq-card">
              <div class="card-content center-align">
                <i class="material-icons dp48 green-text">local_bar</i>
                <span class="new badge" data-badge-caption="Registro">{{ evento_cont }}</span>
                <h6><b>EVENTOS</b></h6>
                <p>LISTA E DETALHES</p>
               </div>
            </div>
           </a>
        </div>

        <div class="col s12 m6 l3">
          <a class="black-text" href="#">
            <div class="card z-depth-0 grey lighten-3 faq-card">
              <div class="card-content center-align">
                <i class="material-icons dp48 blue-text">person_pin</i>
                <span class="new badge" data-badge-caption="Registro">4</span>
                <h6><b>PARCEIROS</b></h6>
                <p>LISTA E DETALHES</p>
              </div>
            </div>
          </a>
        </div>

   <!--SEGUNDO BLOCK-->

        <div class="col s12 m6 l3">
          <a class="black-text" href="/atleta/lista/">
            <div class="card z-depth-0 grey lighten-3 faq-card">
              <div class="card-content center-align">
                <i class="material-icons dp48 blue-text">transfer_within_a_station</i>
                <span class="new badge" data-badge-caption="Registro">{{atleta_cont}}</span>
                <h6><b>ATLETAS</b></h6>
                <p >LISTA E DETALHES</p>
               </div>
             </div>
          </a>
        </div>

        <div class="col s12 m6 l3">
          <a class="black-text" href="/admin/usuarios/">
            <div class="card z-depth-0 grey lighten-3 faq-card">
              <div class="card-content center-align">
                <i class="material-icons dp48 red-text ">people_outline</i>
                <span class="new badge" data-badge-caption="Registro">{{usuario_cont}}</span>
                <h6><b>USUÁRIO</b></h6>
                <p>LISTA E DETALHES</p>
              </div>
             </div>
          </a>
        </div>

        <div class="col s12 m6 l3">
          <a class="black-text" href="/admin/">
            <div class="card z-depth-0 grey lighten-3 faq-card">
              <div class="card-content center-align">
                <i class="material-icons dp48 green-text">settings_applications</i>                
                <h6><b>ADMIN</b></h6>
                <p>LISTA E DETALHES</p>
               </div>
            </div>
           </a>
        </div>

        <div class="col s12 m6 l3">
          <a class="black-text" href="#">
            <div class="card z-depth-0 grey lighten-3 faq-card">
              <div class="card-content center-align">
                <i class="material-icons dp48 blue-text">monetization_on</i>
                <span class="new badge" data-badge-caption="Registro">4</span>
                <h6><b>PATROCINADORES</b></h6>
                <p>LISTA E DETALHES</p>
              </div>
            </div>
          </a>
        </div>

        <!--TERCEIRO BLOCK-->

        <div class="col s12 m6 l3">
          <a class="black-text" href="/contato/lista/">
            <div class="card z-depth-0 grey lighten-3 faq-card">
              <div class="card-content center-align">
                <i class="material-icons dp48 blue-text">contact_mail</i>
                <span class="new badge" data-badge-caption="Registro">{{contato}}</span>
                <h6><b>CONTATOS (menssagens)</b></h6>
                <p >LISTA E DETALHES</p>
               </div>
             </div>
          </a>
        </div>



        <div class="col s12 m6 l3">
          <a class="black-text" href="/diretoria/lista/">
            <div class="card z-depth-0 grey lighten-3 faq-card">
              <div class="card-content center-align">
                <i class="material-icons dp48 red-text ">account_box</i>
                <span class="new badge" data-badge-caption="Registro">{{ diretoria_cont }}</span>
                <h6><b>DIRETORIA</b></h6>
                <p>LISTA E DETALHES</p>
              </div>
             </div>
          </a>
        </div>

        <div class="col s12 m6 l3">
          <a class="black-text" href="/quensomos/lista/">
            <div class="card z-depth-0 grey lighten-3 faq-card">
              <div class="card-content center-align">
                <i class="material-icons dp48 green-text">people</i>
                <!--<span class="new badge" data-badge-caption="Registro">4</span>-->
                <h6><b>QUEM SOMOS</b></h6>
                <p>DETALHES</p>
               </div>
            </div>
           </a>
        </div>

        <div class="col s12 m6 l3">
          <a class="black-text" href="#">
            <div class="card z-depth-0 grey lighten-3 faq-card">
              <div class="card-content center-align">
                <i class="material-icons dp48 blue-text">child_care</i>
                <span class="new badge" data-badge-caption="Registro">4</span>
                <h6><b>TRIBO DE ZION</b></h6>
                <p>PROJETOS</p>
              </div>
            </div>
          </a>
        </div>


  </div>
</div>


{% endblock %}
{% block java %}{% include 'base/javaScripts.html' %}{% endblock %}