<!-- Exteção do arquivo de base html-->
{% extends 'base/base_admin.html' %}

<!--Chamando arquivos static-->
{% load static %}


<!-- Titulo da Pagina-->
{% block title %}lista de atas{% endblock %}
{% block head %}{% include 'base/head_admin.html' %}{% endblock %}
<!-- Menu da Pagina-->
{% block navebar %}

  {% include 'include/nave_admin.html' %}

{% endblock %}


<!-- Titulo do conteudo-->

{% block titulo_page %}

<br><br>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">  

      <a href="/logout/" class="waves-effect red waves-light btn-large">
        <i class="material-icons left">highlight_off</i> Sair
      </a>
      <a class="btn-large disabled">
        <i class="material-icons left">account_circle
        </i> {{ user }}
      </a>
      <a class="btn-large disabled">
        <i class="material-icons left"> person_outline
        </i>
       {{ user.first_name }}
      </a>    
      <h5 class="right-align blue-text">
        <b>{% include 'include/data_hora.html' %}</b>
      </h5>   
      <div class="divider"></div>
  </div>    
</div>

{% endblock %}

<!-- Fim Titulo page-->

<!--Titulo do contene-->

{% block title_contine %}
<a class="btn-large disabled">
  <i class="material-icons left">format_list_bulleted</i>DTALHES - ATAS
</a>
<a class="indigo dark-2 waves-effect waves-light btn-large" href="/administrativo/" title="Painel Administrativo">
  <i class="material-icons left">apps</i>PAINEL ADMINISTRATIVO
</a>
<a class="green waves-effect waves-teal btn-large" href="/ata/lista/" title="Voltar a lista de atas">
  <i class="material-icons left">format_list_bulleted</i>LISTA DE ATAS
</a>     

{% endblock %}

<!--fim-->

<!--Conteudo da Pagina-->

{% block conteudo %} 
    <br>
    <a href="/ata/cadastro/" data-target="modal1" class="btnedit modal-trigger btn-small blue darken-1 " title="Nova Ata">
      Novo<i class="material-icons right">library_add</i>
    </a>

    <a href="#modal_editar" data-target="modal1" class="btnedit modal-trigger btn-small deep-purple darken-1 " title="Atualizando registro">
      Editar<i class="material-icons right">edit</i>
    </a>

    <a class="btnDelet red darken-1 btn-small  modal-trigger" title="Apagar registro" href="#modal_confirma">
      Apagar<i class="material-icons right">delete_forever</i>
    </a>
    
    <button class="btnDelet green darken-1 btn-small" onclick="printPage('print');" title="Imprimir ou salva (PFD)">
      Imprimir<i class="material-icons right">print</i><i class="material-icons right">picture_as_pdf</i> - PDF
    </button>  
    
    <br><br>
    <div class="divider"></div>
    <br>
    <div class="row col s12">

        <a class="btn disabled" >
          <h7 style="color:black;"><b>Autor:</b> </h7><h7 style="color:crimson;">{{atas.autor}}</</h7>
        </a>
        <a class="btn disabled" >
          <h7 style="color:black;"><b>Criado em :</b> </h7><h7 style="color:crimson;">{{atas.data_criacao}}</</h7>
        </a>      

        <div class="row">
          <div class="col s12 m12">
            <div class="card-panel " id="print">
              <span class="black-text">
                {{atas.texto | safe }}
              </span>
            </div>
          </div>
        </div>
        <div class="divider"></div><br>        
        <a href="#topo" class="btnedit btn-small deep-purple darken-1 " title="Voltar ao início da página">
          Topo<i class="material-icons right">arrow_upward</i>
        </a>     
    
    </div>
    
<!-- Modal Structure -->
<div id="modal_confirma" class="modal">
  <div class="modal-content">
    <b><h4 style="color: crimson;">Deseja realmente excluir a Ata de reunião!</h4></b>
    <p>Esse registro será excluido e não poderar se recuperado...</p>
  </div>
  <div class="modal-footer">
    <a href="/ata/delete/{{atas.id}}/">
      <button class="btnDelet red darken-1 btn-small " title="DELATAR" type="button">
        Deletar<i class="material-icons right">delete_forever</i>
      </button>
    </a>    
    <a href="/ata/detalhes/{{atas.id}}" class="modal-close green darken-1  btn">Cancelar<i class="material-icons right">close</i></a>
  </div>
</div>


        


{% endblock %}
{% block java %}{% include 'base/javaScripts.html' %}{% endblock %}